<h2>そんなことより釣りしませんか</h2>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="card">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"　data-interval="4000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("top.JPG",class: "card-img") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("view.jpg",class: "card-img") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card img-thumbnail">
      <img class="card-img-top" src="..." alt="画像">
      <div class="card-body px-2 py-3">
        <h5 class="card-title">タイトル</h5>
        <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
        <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">ボタン</a> <a href="#" class="btn btn-secondary btn-sm">ボタン</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card img-thumbnail">
      <img class="card-img-top" src="..." alt="画像">
      <div class="card-body px-2 py-3">
        <h5 class="card-title">タイトル</h5>
        <p class="card-text">コンテンツ コンテンツ コンテンツ コンテンツ</p>
        <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">ボタン</a> <a href="#" class="btn btn-secondary btn-sm">ボタン</a></p>
      </div>
    </div>
  </div>

</div>
