// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_text{
    width: 30%;
}

.actions{
  text-align: center;
  padding-top: 5%;
}

h1{
  text-align: center;
  line-height: 20px;
  padding: .6em 0 .5em .5em;
  border-left: 6px solid #000000;
	border-bottom: 1px solid #000000;
}
h3{
  padding-top: 1%;
}

.fv_en_click{
  text-align: center;
  padding-top: 5%;
}
.right-btn{
  text-align: right;
}
.game-show {
  margin: 3%;
}
